@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    width: 100vh;
    height: 100vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}


body {
    background-image: url("./photo.jpg");
    background-position: center center;
    background-color: black;
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

header{
    width: 200vh;
    height: 7vh;
    background-color: transparent;
}

.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
    margin-right: 100px;
}

.logo{
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}

.menu-content .list-itens{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a{
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before{
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 1px;
    width: 0px;
    height: 1px;
    background-color: rgb(251,255,0);
    transition: all 1.0s ease;
}

.menu-content .list-itens a:hover:before{
  width: 100%;
}


main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.primary-text{
    font-size: 4rem;
    margin-left: 40px;
}

.second-text{
    margin-top: 40px;
    margin-left: 50px;
    font-size: 2rem;
    color: rgb(165,165,165);
    text-transform: uppercase;
    
}

.btns{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    gap: 20px;
    
}



.btns button{
    height: 60px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border-radius: 20px;
    position: relative;
    transition: 1.0s;
}


.btns button:hover{
    color: rgb(251,255,0);
}

.btns button:before{
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 60px;
    border-radius: 20px;
    background-color: rgba(98,98,98,0.3);
    transition: all 1.0s ease;
    z-index: -1;
}

.btns button:hover:before{
    width: 100%;
    border-radius: 20px;
}


@media screen {
    
}